{% extends "base.html" %}
{% block title %}
  About us
{% endblock %}
{% block content %}
<h2>fashion for the people by the people - get involved.</h2>

<p class="large">
Online since 1995, fuk.co.uk is the UK's leading independent fashion community.

<br /><br />

If you want to learn about denim or suits, get the latest on sales, discount codes, see what people are wearing, post your eBay listings or to work out whether a brand is worth the money or the hype, join in.

<br /><br />
<a href="https://www.fuk.co.uk/user/register">Register and take part</a>.</p>

<p class="large">If you're unsure about anything, please visit our help section <a href="https://www.fuk.co.uk/help">here</a>.</p>

  <br />

  <h2>Who we are . .</h2>

  <p class="large">The Manager: <a href="https://www.fuk.co.uk/profile/5/">Brad</a>

<br /><br />

The Moderators: <a href="https://www.fuk.co.uk/profile/6457/">andymakesglasses</a>, <a href="https://www.fuk.co.uk/profile/81514/">diederik</a>, <a href="https://www.fuk.co.uk/profile/6046/">Gaz</a>, <a href="https://www.fuk.co.uk/profile/1138/">Generic Guy</a>, <a href="https://www.fuk.co.uk/profile/328/">kid unknown</a>, <a href="https://www.fuk.co.uk/profile/5981/">Seventyfour</a> and <a href="https://www.fuk.co.uk/profile/14757/">Toastbread</a>.

<br /><br />

The Elite: <a href="https://www.fuk.co.uk/subscribe">click here for more details</a>.</p>


{% endblock %}