{% extends "base.html" %}
{% block title %}Advertise on fuk.co.uk {% endblock title %}
{% block content %}
<h2>Advertise on fuk.co.uk</h2>

<p class="large">fuk.co.uk is visited by hundreds of thousands of free-spending, trend-setting punters every month, all dying to hear about your product or service.</p>

<p class="large">As the UK's Number 1 independent fashion web site, we have a regular crowd of fashion fans in permanent search of new labels and outlets. By advertising with us, you'll tap in to this fashion frenzy churning through nearly 2 million page impressions from 300,000 visits every month.</p>

<p class="large">We offer a variety of different advertising and sponsorship packages, please <a href="/contact">contact us</a> with your requirements and we will get back to you in due course.</p>

{% endblock content %}