{% extends "base.html" %}
{% block title %}The fuk faq{% endblock title %}
{% block content %}
<h3>Why doesn't my post show up?</h3>
<p>Until new users have posted a few times, their posts go in to moderation. This means that someone will check your post for spam or weirdness. Usually this process is pretty quick, and once you have proved that you are not a spammer or (excessively) weird, your posts will go live immediately.</p>
<h3>How do I embed an image?</h3>
<p>If you have a link to a jpeg or gif that is hosted online somewhere, just drop that link in and it will automatically be formatted and correctly displayed.</p>
<p>If your image is on one of our supported embed sites (see below), you can just add the link to the page on the site, rather than the actual JPEG file.</p> 
{% endblock content %}