{% extends "base.html" %}
{% block extra_head %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.bbcode.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/waypoints.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/waypoints-infinite.min.js"></script>
  
  <script>
  $(document).ready(function() {
     $("abbr.timeago").timeago();
  });
  </script>
{% endblock %}
{% block sub-nav %}
<ul class="subnav">
      <li><a href="{% url userena_umessages_list %}">Inbox</a></li>
      <li><a href="{% url userena_umessages_compose %}">Compose</a></li>
 </ul>
 <h2>Private messages</h2>
{% endblock %}