{% extends 'umessages/base_message.html' %}
{% load i18n umessages_tags %}
{% block title %}Private messages{% endblock %}

{% block content %}
{% get_unread_message_count_for user as unread_message_count %}
<p class="pm-unread">{{ unread_message_count }} new message{{ unread_message_count|pluralize}}.</p>

<table class="pm-message-list">
  {% for message in object_list %}
  <tr class="{% cycle 'odd' 'even' %}">
  {% if message.from_user == user %}
  {% get_unread_message_count_between user and message.to_user as unread_between_count %}
  <td class="pm-user-list">{% if unread_between_count > 0 %}<strong>{% endif %}<a href="{% url userena_umessages_detail message.to_user.id %}">{{ message.to_user }}</a>{% if unread_between_count > 0 %}</strong>{% endif %}</td>
  {% else %}
  {% get_unread_message_count_between user and message.from_user as unread_between_count %}
  <td class="pm-user-list">{% if unread_between_count > 0 %}<strong>{% endif %}<a href="{% url userena_umessages_detail message.from_user.id %}">{{ message.from_user }}</a>{% if unread_between_count > 0 %}</strong>{% endif %}</td>
  {% endif %}
  <td class="pm-list-message">{% if unread_between_count > 0 %}<strong>{% endif %}{{ message.latest_message }}{% if unread_between_count > 0 %}</strong>{% endif %}</td><td class="pm-unread-count">{{ unread_between_count }} new</td>
  </tr>
  {% endfor %}
</table>
{% if is_paginated %}
<div class="pagination">
 <span class="step-links">
      {% if page_obj.has_previous %}
          <span class="prev"><a href="{% url userena_umessages_list page_obj.previous_page_number %}">&laquo; Previous</a></span>
      {% endif %}

      <span>
          Page {{ page_obj.number }} of {{ paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
          <span class="next"><a href="{% url userena_umessages_list page_obj.next_page_number %}">Next  &raquo;</a></span>
      {% endif %}
  </span>
</div>{% endif %}
{% endblock %}
