{% extends "snapboard/base_forum.html" %}
{% block title %}{{ title }}{% endblock %}
{% block snapboard_main %}
    <div class="index_title">
    <h2>
    {{ title }}
    </h2>
 
    </div>

    {% if threads %}
      {% include "snapboard/include/show_threads.html" %}
   
  

    {% else %}
        <p>No threads available.</p>
    {% endif %}
     <div class="pagination">
   <span class="step-links">
        {% if threads.has_previous %}
            <span class="prev"><a href="?page={{ threads.previous_page_number }}">&laquo; Previous</a></span>
        {% endif %}

        <span>
            Page {{ threads.number }} of {{ threads.paginator.num_pages }}
        </span>

        {% if threads.has_next %}
            <span class="next"><a href="?page={{ threads.next_page_number }}">Next  &raquo;</a></span>
        {% endif %}
    </span>
  </div>
{% endblock %}
