{% extends "base.html" %}
{% block title %}
  Account activated
{% endblock %}
{% block content %}
  <h2>Account activated.</h2>
  <p>Thank you. Your account has now been activated, and you may now post in the public forums.</p>
  <p> Please note that posts from new users are moderated, there will be a short delay before your post is visible on the site. To avoid this delay, and to get the most from the fuk.co.uk experience, you can <a href="/subscribe">upgrade your account</a> to an elite membership right now.</p>

{% endblock %}