{% extends 'base.html' %}
{% block title %}
	Password reset complete
{% endblock title %}
{% block content %}
<h2>Password reset complete</h2>
<p>Your password has been changed. Please log in with your new details:</p>
    <div>{% load crispy_forms_tags %}
        <form method="post" action="{% url auth_login %}" class="uniForm">        
      <div id="div_id_username" class="ctrlHolder">   
            <label for="id_username" class="requiredField">
                Username<span class="asteriskField">*</span>
            </label>
        

        <input id="id_username" type="text" class="textInput textinput" name="username" maxlength="30" />

        
    </div>
    <div id="div_id_password" class="ctrlHolder">
        

        
            <label for="id_password" class="requiredField">
                Password<span class="asteriskField">*</span>
            </label>
        

        <input id="id_password" type="password" class="textInput textinput" name="password" />

        
    </div>


              {% csrf_token %} 
              <input type="hidden" name="next" value="/" />
            <input type="submit" value=" Sign In " />
        </form>
    </div>

{% endblock %}