{% extends 'base.html' %}
{% block title %}
	Create new password
{% endblock title %}
{% block content %}
<h2>Create a new password</h2>
	{% if validlink %}
	{% load crispy_forms_tags %}
	<div>
    <form action="." method="post" class="uniForm">
      {% csrf_token %}
      {{ form|crispy }}
        <input type="submit" text="Change Password" />
      </form>
  </div>
  {% else %}
    <h1>Password reset unsuccessful.</h1>
    <p>The password reset link was invalid, possibly because it already has been
      used. Please request a new password reset.</p>
  {% endif %}
{% endblock %}